.app-fab--absolute {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 2;
	transform: translate3d(0,0,0);
	transition: transform 250ms ease;
}

.app-fab--offset {
	transform: translate3d(0,-50px,0);
}
